<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MLEJ"
        tools:targetApi="31" >
        <activity
            android:name=".EditServicesActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentBook4"
            android:exported="false" />
        <activity
            android:name=".AppointmentBook3"
            android:exported="false" />
        <activity
            android:name=".ReminderInboxActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentBook2"
            android:exported="false" />
        <activity
            android:name=".AppointmentBook"
            android:exported="false" />
        <activity
            android:name=".ProviderSearchActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentEditActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentViewActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileViewActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentDetails"
            android:exported="false" />
        <activity
            android:name=".AppointmentListActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceProviderHomeActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignupServicesActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".SignupAccountTypeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSignupActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>